In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("Bank_Personal_Loan_Modelling.csv")

In [3]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
df.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [6]:
df.drop("ID",axis=1,inplace=True)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression

In [8]:
x=df.drop("Personal Loan",axis=1)
y=df["Personal Loan"]

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [10]:
def c_model(model):
    model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    print(classification_report(y_test,y_pred))
    return model

In [11]:
lr=LogisticRegression()

In [12]:
c_model(lr)

              precision    recall  f1-score   support

           0       0.93      0.98      0.95      1351
           1       0.57      0.30      0.39       149

    accuracy                           0.91      1500
   macro avg       0.75      0.64      0.67      1500
weighted avg       0.89      0.91      0.89      1500

LogisticRegression()

In [30]:
#impurities are more.

In [31]:
from sklearn.tree import DecisionTreeClassifier

In [32]:
dt1=DecisionTreeClassifier()

In [33]:
c_model(dt1)

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      1351
           1       0.91      0.89      0.90       149

    accuracy                           0.98      1500
   macro avg       0.95      0.94      0.95      1500
weighted avg       0.98      0.98      0.98      1500

DecisionTreeClassifier()

In [34]:
dt1.feature_importances_

array([0.01536265, 0.03039658, 0.30726397, 0.00476672, 0.16260158,
       0.04440752, 0.40368987, 0.00523886, 0.        , 0.02571145,
       0.00056079, 0.        ])

In [35]:
x.columns

Index(['Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account', 'CD Account', 'Online',
       'CreditCard'],
      dtype='object')

In [46]:
dt2=DecisionTreeClassifier(max_depth=5)

In [47]:
c_model(dt2)

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      1351
           1       0.91      0.89      0.90       149

    accuracy                           0.98      1500
   macro avg       0.95      0.94      0.94      1500
weighted avg       0.98      0.98      0.98      1500

DecisionTreeClassifier(max_depth=5)

In [48]:
dt2.feature_importances_

array([0.00708304, 0.00597692, 0.32552351, 0.        , 0.15649363,
       0.04131269, 0.43881611, 0.        , 0.        , 0.0247941 ,
       0.        , 0.        ])

In [51]:
from sklearn.ensemble import AdaBoostClassifier

In [52]:
ada=AdaBoostClassifier()

In [53]:
c_model(ada)

              precision    recall  f1-score   support

           0       0.97      0.99      0.98      1351
           1       0.92      0.70      0.80       149

    accuracy                           0.96      1500
   macro avg       0.94      0.85      0.89      1500
weighted avg       0.96      0.96      0.96      1500

AdaBoostClassifier()

In [54]:
from sklearn.ensemble import GradientBoostingClassifier

In [55]:
gbc=GradientBoostingClassifier(n_estimators=100)

In [56]:
c_model(gbc)

              precision    recall  f1-score   support

           0       0.99      1.00      0.99      1351
           1       0.96      0.87      0.91       149

    accuracy                           0.98      1500
   macro avg       0.97      0.93      0.95      1500
weighted avg       0.98      0.98      0.98      1500

GradientBoostingClassifier()

In [57]:
df["Personal Loan"].value_counts()

0    4520
1     480
Name: Personal Loan, dtype: int64

In [58]:
from imblearn.over_sampling import RandomOverSampler

In [59]:
ros = RandomOverSampler()

In [60]:
X_sample1,y_sample1 = ros.fit_sample(x_train,y_train)

In [61]:
pd.Series(y_train).value_counts()

0    3169
1     331
Name: Personal Loan, dtype: int64

In [62]:
pd.Series(y_sample1).value_counts()

1    3169
0    3169
Name: Personal Loan, dtype: int64

In [63]:
dt2 = DecisionTreeClassifier(max_depth=3)

In [64]:
dt2.fit(X_sample1,y_sample1)

DecisionTreeClassifier(max_depth=3)

In [66]:
pd.Series(y_test).value_counts()

0    1351
1     149
Name: Personal Loan, dtype: int64

In [68]:
X_sample_test,y_sample_test = ros.fit_sample(x_test,y_test)

In [69]:
y_pred = dt2.predict(X_sample_test)

In [70]:
print(classification_report(y_sample_test,y_pred))

              precision    recall  f1-score   support

           0       0.93      0.95      0.94      1351
           1       0.95      0.92      0.94      1351

    accuracy                           0.94      2702
   macro avg       0.94      0.94      0.94      2702
weighted avg       0.94      0.94      0.94      2702

In [71]:
gbc2=GradientBoostingClassifier(n_estimators=100)

In [72]:
gbc2.fit(X_sample1,y_sample1)

GradientBoostingClassifier()

In [73]:
y_pred =gbc2.predict(X_sample_test)

In [74]:
print(classification_report(y_sample_test,y_pred))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97      1351
           1       0.99      0.94      0.96      1351

    accuracy                           0.96      2702
   macro avg       0.97      0.96      0.96      2702
weighted avg       0.97      0.96      0.96      2702